@font-face {
    font-family: 'ClearSans-Regular';
    src: url('../fonts/ClearSans-Regular.ttf');
}
@font-face {
    font-family: 'ClearSans-Light';
    src: url('../fonts/ClearSans-Light.ttf');
}
@font-face {
    font-family: 'ClearSans-Bold';
    src: url('../fonts/ClearSans-Bold.ttf');
}
@font-face {
    font-family:'ClearSans-Medium';
    src: url('../fonts/ClearSans-Medium.ttf');
}