{% extends 'base.html' %} 
    {% block content %}
         <div class="space_for_notes">
            <p class="header_for_public">New public notes</p>
             <hr class="line_for_header"/>
            <div class="main_body_for_note"><button>
                <a class="button_for_pop_up" href="#popup3">
                <form>
                    <span>Python</span>
                <div class="note">
                    <span>Some text</span>
                </div>
                <div class="link">
                        <span>StackOverFlow</span>
                </div>
                </form>
                </a>
                </button>
            </div>
             
        </div>
        <div class="block">

            {% with user = request.environ['user']%}
            <div class="avatar"><img src="{{owner.profile_picture_url}}" class="avatar" alt="Avatar" ></div>
            <div class="text"><span>{{user.username}}</span></div>
            {% endwith %}
            <div class="display_with_button">
                <a href="home.html"><button>Back to profile</button>
                </a>
            </div>
        </div>
        <div id="popup3" class="overlay">
            <div class="popup">
                <form name="content_with_edit">
                <div class="header_for_pop_up">
                    <input id="input_for_title" name="input_for_title" class="input_for_title" placeholder="+ add" disabled>
                <a class="close" href="#">&times;</a>
                    </div>
                <div class="content">
                    
                    <textarea name="comment" class="comment" cols="80" rows="11" placeholder="text" readonly>Для работы с наборами данных Python предоставляет такие встроенные типы как списки, кортежи и словари. 

Список (list) представляет тип данных, который хранит набор или последовательность элементов. Во многих языках программирования есть аналогичная структура данных, которая называется массив. 

Создание списка 
Для создания списка применяются квадратные скобки [], внутри которых через запятую перечисляются элементы списка. Например, определим список чисел:</textarea>  
                    <textarea name="code" class="code" cols="90" rows="1" placeholder="some code" readonly>code</textarea>
                    <textarea name="textarea_for_tegs" class="textarea_for_tegs" placeholder="#text"  cols="90" rows="1" readonly></textarea>
                    <textarea name="textarea_for_link" class="textarea_for_link" placeholder="htts://" cols="90" rows="1" readonly></textarea>
                        
                    
                </div>
                <hr class="line"/>
                    <div class="info_about_writer">
                    <span class="text_under_line">user: Paulina</span>
                    <span class="text_under_line">last modified: 21/01/2022</span>
                        </div>
                </form>
            </div>
        </div>
{% endblock %}