{% extends 'base.html' %}

{% block content %}
<div class="page_settings">
    <div class="left_part">
        {% with form = request.environ['account_settings_form'] %}
        <form method="POST" action="{{ url_for('webapp.user.settings.account_settings_handle') }}">
            {{ form.csrf_token }}
            <div id="MyAccount" class="tabcontent">
                <h1>My Account</h1>
                <div class="account_preveiw">
                    <div class="profile_color"></div>
                    <div class="stroke">
                        <div class="profile">
                            <div class="avatar">
                                <img src="{{request.environ['user'].profile_picture_url}}}">
                            </div>
                            <h2>{{request.environ['user'].username}}</h2>
                        </div>
                        <button class="edit_profile" onclick="openSettings(event, 'UserProfile')">Edit User Profile</button>
                    </div>
                    <div class="information">
                        <div class="stroke">
                            <div class="left">
                                <h2>EMAIL</h2>
                                {{form.email}}
                            </div>
                            <button class="edit">Edit</button>
                        </div>
                        <div class="stroke">
                            <div class="left">
                                <h2>CURRENT PASSWORD</h2>
                                {{form.current_password}}
                            </div>
                            <button class="edit">Edit</button>
                        </div>
                        <div class="stroke">
                            <div class="left">
                                <h2>NEW PASSWORD</h2>
                                {{form.password}}
                            </div>
                        </div>
                        <div class="stroke">
                            <div class="left">
                                <h2>CONFIRM PASSWORD</h2>
                                {{form.confirm_password}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="base_settings">
                    <div class="vertical"></div>
                    <div class="account_removal">
                        <h3>ACCOUNT REMOVAL</h3>
                        <span>Disabling your account means you can recover it at any time after this action.</span>>
                        <div class="stroke">
                            <button class="disable_account">Disable Account</button>
                            <button class="delete_account">Delete Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endwith %}
        {% with form = request.environ['user_settings_form'] %}
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('webapp.user.settings.user_settings_handle') }}">
            <div id="UserProfile" class="tabcontent">
                <h1>User Profile</h1>
                <hr>
                <div class="stroke">
                    <div class="first_block">
                        <h3>PREVIEW</h3>
                        <div class="account_preveiw">
                            <div class="profile_color"></div>
                            <div class="stroke">
                                <div class="profile">
                                    <div class="avatar">
                                        <img src="{{request.environ['user'].profile_picture_url}}}">
                                    </div>
                                    <div class="left">
                                        <h2>USERNAME</h2>
                                        {{form.username}}
                                    </div>
                                    <button class="edit">Edit</button>
                                </div>
                                <button class="edit_profile">Edit avatar</button>
                            </div>
                        </div>
                    </div>
                    <div class="profile_color">
                        {{form.profile_color}}
                    </div>
                </div>
            </div>
        </form>
        {% endwith %}
    </div>
    </div>
    <div class="right_part">
        <h1>User Settings</h1>
        <button class="standart_button" id="defaultOpen" onclick="openSettings(event, 'MyAccount')"><i class="fi fi-sr-user"></i>My Account</button>
        <button class="standart_button" onclick="openSettings(event, 'UserProfile')"><i class="fi fi-rr-pencil"></i>User Profile</button>
    </div>
</div>
{% endblock %}