<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Icons AlexsaFox -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <!-- Script AlexsaFox and Paulina -->
    <script href="{{ url_for('static', filename='js/main.js') }}"></script>

    <title>O_O</title>

    <style>
        .flashing_msg {
            padding: 10px;
            width: calc(100vw - 36px);
            background-color: #ffa5a3;
            color: #5e2322;
        }
    </style>
</head>
{% with user = request.environ['user'] %}
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %} 
            {% for message in messages %}
                <p class="flashing_msg">{{ message }}</p>
            {% endfor %}
        {% endif %} 
    {% endwith %}

    {% if user %}
        <p style="background-color: {{user.profile_color}};">You're logged in as {{user.username}}</p>
    {% else %}
        <p>You're not logged in</p>
    {% endif %}
    <hr>

    <li><a href="{{ url_for('webapp.index.index_view') }}">Home</a></li>
    {% if user %} 
        <li><a href="{{ url_for('webapp.user.settings.settings_view') }}">Settings</a></li>
        <li><a href="{{ url_for('webapp.user.profile.profile_view', username=session['username']) }}">Profile</a></li>
        <li><a href="{{ url_for('webapp.note.notes_show') }}">Notes</a></li>
        <li><a href="{{ url_for('webapp.auth.logout_handle') }}">Log out</a></li>
    {% else %}
        <li><a href="{{ url_for('webapp.auth.register_view') }}">Register</a></li>
        <li><a href="{{ url_for('webapp.auth.login_view') }}">Log in</a></li>
    {% endif %}
    <hr>

    <main>
    {% block content %}{% endblock %}
    </main>
</body>
{% endwith %}
</html>