{% extends 'base.html' %}
{% block content %}
<div class="space_for_notes">
    {% with notes = request.environ['user_notes'] %}
    {% for note in notes %}
    <div class="main_body_for_note">
        <button>
            <a class="button_for_pop_up" href="#popup_watch{{note.id}}">
                <div class="title_for_main_note"><span>{{note.title}}</span></div>
                {% if note.is_private == True %}
                <div class="public_private"><span><i class='bx bxs-lock-alt'></i></span></div>
                {% else %}
                <div class="public_private"><span><i class='bx bx-lock-open-alt'></i></span></div>
                {% endif %}
                <div class="note">
                    <span>{{note.context}}</span>
                </div>
                <div class="link">
                    <span>{{note.link}}</span>
                </div>
            </a>
        </button>
        {% with form = request.environ['note_edit_form'] %}
        <div id="popup3" class="overlay">
            <div class="popup">
                {% with id = note.id %}
                <form name="content_with_edit" method="POST"
                    action="{{ url_for('webapp.note.notes_edit_handler',note_id=id) }}">
                    {{ form.csrf_token }}
                    <div class="header_for_pop_up">
                        <!-- <input id="input_for_title" class="input_for_title" placeholder="+ add" disabled> -->
                        {{form.title(class_="input_for_title",placeholder="+ add")}}
                        {{form.privacy(class_="privacy_selection")}}
                        <a class="close" href="#check">&times;</a>
                    </div>
                    <div class="content">
                        {{form.context(class_="comment",placeholder="text",cols="80", rows="11")}}
                        {{form.link(class_="textarea_for_link",placeholder="htts://",cols="90", rows="1")}}
                        <div class="buttons_in_the_bottom"><a
                                href="#popup_watch">{{form.submit(class_="save",value="Save")}}</a></div>

                    </div>
                </form>
                {% endwith %}
                <hr class="line" />
                <div class="info_about_writer">
                    <span class="text_under_line">User: {{note.user.username}}</span>
                    <span class="text_under_line">Was created: {{note.creation_date.strftime('%Y-%m-%d at
                        %H:%M:%S')}}</span>
                </div>

            </div>
        </div>
        {% endwith %}
        {% with form = request.environ['note_remove_form'] %}
        <div id="popup_watch{{note.id}}" class="overlay">
            <div class="popup">
                <div class="header_for_pop_up">
                    <!-- <input id="input_for_title" class="input_for_title" placeholder="+ add" disabled> -->
                    <input value="{{note.title}}" class="input_for_title" disabled>
                    {% if note.is_private == True %}
                    <div class="button_status"><span><i class='bx bxs-lock-alt'></i></span></div>
                    {% else %}
                    <div class="button_status"><span><i class='bx bx-lock-open-alt'></i></span></div>
                    {% endif %}

                    <!-- (class_="input_for_title",placeholder="+ add") -->
                    <a class="close" href="#">&times;</a>
                </div>
                <div class="content">
                    <textarea class="comment" readonly>{{note.context}}</textarea>
                    <!-- (class_="comment",placeholder="text",cols="80", rows="11") -->
                    <a href="{{note.link}}"><textarea class="textarea_for_link" readonly>{{note.link}}</textarea></a>
                    <!-- (class_="textarea_for_link",placeholder="htts://",cols="90", rows="1") -->
                    <div class="buttons_in_the_bottom"><a href="#popup3"><input type="submit" class="save"
                                value="Edit"></a></div>
                    {% with id = note.id %}
                    <div class="buttons_in_the_bottom">
                        <form method="POST" action="{{url_for('webapp.note.notes_remove_handler',note_id=id)}}">
                            {{ form.csrf_token }}
                            {{ form.submit(class_="button_delite", value="Delete") }}

                        </form>
                    </div>
                    {% endwith %}


                </div>
                <hr class="line" />
                <div class="info_about_writer">
                    <span class="text_under_line">User: {{note.user.username}}</span>
                    <span class="text_under_line">Was created: {{note.creation_date.strftime('%Y-%m-%d at
                        %H:%M:%S')}}</span>
                </div>
            </div>
        </div>
        <div id="check" class="overlay">
            <div class="popup_check">
                <div class="header_for_pop_up">
                    <a class="close" href="#">&times;</a>
                </div>
                <div class="content">
                    <span>Do you want to save your changes?</span>
                    <div class="buttons_for_check">
                        <div class="each_button_for_popup_check">
                            <a href="#"><input type="button" value="Unsave"></a>
                        </div>
                        <div class="each_button_for_popup_check"><a href="#popup_watch"><input type="button"
                                    value="Cancel"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
    </div>
    {%endfor%}
    {% endwith %}
</div>
<div class="block">
    {% with user = request.environ['user']%}
    <div class="avatar"><a href="#popup4"><img src="{{user.profile_picture_url}}" class="avatar" alt="Avatar"></a></div>
    <div class="text"><span>{{user.username}}</span></div>
    {% endwith %}
    <div class="display_with_button">
        <a href="#popup"><button><i class='bx bx-plus'></i>Add notes</button></a>
        <a><button><i class='bx bx-right-arrow-alt'></i> Social media</button></a>
        <a><button><i class='bx bxs-user'></i> Subscritions</button></a>
        <a href="#popup5"><button><i class='bx bx-plus'></i>My notes</button></a>
        </div>
    </div>
</div>

{% with form = request.environ['note_create_form'] %}
<div id="popup" class="overlay">
    <div class="popup">
        <form name="content" method="POST" action="{{ url_for('webapp.note.notes_create') }}">
            {{ form.csrf_token }}
            <div class="header_for_view_or_add_pop_up">
                {{form.title(class_="input_for_title",placeholder="+ add")}}
                <a class="close" href="#">&times;</a>
            </div>
            <div class="content">
                {{form.context(class_="comment",placeholder="text",cols="80", rows="11")}}
                {{form.link(class_="textarea_for_link",placeholder="htts://",cols="90", rows="1")}}
                {{form.submit(class_="save",value="Save")}}


            </div>
        </form>
    </div>
</div>
{% endwith %}
{% with user = request.environ['user']%}
<div id="popup4" class="overlay_1">
    <div class="profile_popup">
        <div class="header_for_pop_up">
            {{user.email}}
        <a class="close" href="#">&times;</a>
        </div>
        <div class="content" style="padding: 10px;">
            <form>
                <hr>
            <span><a href="/user/settings">Settings</a></span>
                <br>
            <span><a href="/auth/logout">Log out</a></span>
            </form>
        </div>
    </div>
</div>
{% endwith %}
{% with notes = request.environ['user_notes'] %}
<div id="popup5" class="overlay_1">
    <div class="my_notes_popup">
        <div class="header_for_pop_up_acc">
            All your notes:
        <a class="close" href="#">&times;</a>
        </div>
        <div class="content">
            
                
                <ul style=" list-style-type: none;
                max-height: 120px;
                overflow-y: auto">
                {% for note in notes %}
                    <li style="height: 30px;
                    line-height: 30px;"><a href="#popup_watch{{note.id}}">{{note.title}}</a></li>
                    {% endfor %}
                </ul>
                
            

        </div>
    </div>
</div>
{% endwith %}
{% endblock %}