{% extends 'base.html' %}

{% block title %}

<title>Preview - DashCode</title>

{% endblock %}

{% block content %}

<body class="base_pages">
    <div class="header">
        <div class="start">
            <img src="{{ url_for('static', filename='img/LOGO.webp') }}" class="logo_view">
            <h1>DashCode</h1>
        </div>
        <div class="buttons">
            <button class="button_log_in"><a href="{{ url_for('webapp.auth.login_view') }}">Log In</a></button>
            <button class="button_sign_up"><a href="{{ url_for('webapp.auth.register_view') }}">Sign Up</a></button>
        </div>
    </div>
    <div class="content">
        <div class="material">
            <div class="one_of_the_titles_for_main_page">
                <p><b>Unique knowledge repository.</b></p>
                <span>This is more than a notepad or social network. Write, save what you really need and share it
                    with the whole world!</span>
            </div>
            <div class="picture"><img src="{{ url_for('static', filename='img/8289.webp') }}" class="picture"
                    alt="image"></div>
        </div>

        <div class="material">
            <div class="one_of_the_titles_for_main_page">
                <p><b>Without wasting time.</b></p>
                <span>Organize yours notes or go through public ones. With them you can solve your problems as fast as
                    possible.</span>
            </div>
            <div class="picture"><img src="{{ url_for('static', filename='img/OEVLX40.webp') }}" class="picture"
                    alt="image"></div>
        </div>
        <div class="material">
            <div class="one_of_the_titles_for_main_page">
                <p><b>Never ask internet “How can I solve this problem?” again.</b></p>
                <span>In DashCode, your information and solutions are at hand!</span>
            </div>
            <div class="picture"><img src="{{ url_for('static', filename='img/2362840.webp') }}" class="picture"
                    alt="image"></div>
        </div>
    </div>
</body>
{% endblock %}