{% extends 'base.html' %} 

{% block content %} 
<h1>Create your note!</h1>

{% with form = request.environ['form'] %}
<form method="POST" action="{{ url_for('webapp.note.notes_create') }}">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td><i>{{form.title.label}}:</i></td> 
            <td>{{form.title}}</td>
        </tr>
        <tr>
            <td><i>{{form.context.label}}:</i></td> 
            <td>{{form.context}}</td>
        </tr>
        <tr>
            <td><i>{{form.link.label}}:</i></td> 
            <td>{{form.link}}</td>
        </tr>
    </table>
    {{ form.submit }}
</form>
{% endwith %}
{% endblock %}