{% extends 'base.html' %} 

{% block content %} 
<h1>Register new user</h1>

{% with form = request.environ['form'] %}
<form method="POST" action="{{ url_for('webapp.auth.register_handle') }}">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td><i>{{form.username.label}}:</i></td> 
            <td>{{form.username}}</td>
        </tr>
        <tr>
            <td><i>{{form.email.label}}:</i></td> 
            <td>{{form.email}}</td>
        </tr>
        <tr>
            <td><i>{{form.password.label}}:</i></td> 
            <td>{{form.password}}</td>
        </tr>
        <tr>
            <td><i>{{form.confirm_password.label}}:</i></td> 
            <td>{{form.confirm_password}}</td>
            <td><i>This must be checked on frontend</i></td>
        </tr>
    </table>
    {{ form.submit_registration }}
</form>
{% endwith %}
{% endblock %}
